<div class="control-group">
  <label for="githubId" class="control-label">githubId</label>
  <div class="controls">
    <%- contentTag('input', commit.githubId, {type:'text', class:'span6', name:'githubId'}) %>
  </div>
</div>
<div class="control-group">
  <label for="url" class="control-label">url</label>
  <div class="controls">
    <%- contentTag('input', commit.url, {type:'text', class:'span6', name:'url'}) %>
  </div>
</div>
<div class="control-group">
  <label for="author" class="control-label">author</label>
  <div class="controls">
    object
  </div>
</div>
<div class="control-group">
  <label for="message" class="control-label">message</label>
  <div class="controls">
    <%- contentTag('input', commit.message, {type:'text', class:'span6', name:'message'}) %>
  </div>
</div>
<div class="control-group">
  <label for="timestamp" class="control-label">timestamp</label>
  <div class="controls">
    <%- contentTag('input', commit.timestamp, {type:'datetime', class:'span3', name:'timestamp'}) %>
  </div>
</div>
<div class="control-group">
  <label for="added" class="control-label">added</label>
  <div class="controls">
    array
  </div>
</div>
<div class="control-group">
  <label for="before" class="control-label">before</label>
  <div class="controls">
    <%- contentTag('input', commit.before, {type:'text', class:'span6', name:'before'}) %>
  </div>
</div>
<div class="control-group">
  <label for="after" class="control-label">after</label>
  <div class="controls">
    <%- contentTag('input', commit.after, {type:'text', class:'span6', name:'after'}) %>
  </div>
</div>
<div class="control-group">
  <label for="ref" class="control-label">ref</label>
  <div class="controls">
    <%- contentTag('input', commit.ref, {type:'text', class:'span6', name:'ref'}) %>
  </div>
</div>
<div class="control-group">
  <label for="repository" class="control-label">repository</label>
  <div class="controls">
    object
  </div>
</div>
